body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

#gameCounter {
    position: absolute;
    top: 15px;
    left: 75%;
}

h1 {
    color: goldenrod;
}

#message-el, #dealer-playing {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
#goto-bank-btn {
    width: 50px;
    margin-left: 50px;
}
.bank-btn {
    width: 100px;
    background-color: azure;
}
#bank-input {
    width: 100px;
    margin: 0 50px;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}
#leave-bank {
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 20px;
}
#betscash *{
    display: inline-block;
}

#bet {
    margin-right: 30px;
    text-align: center;
}
.cards-box {
    position: absolute;
    top: -400px;
}

.card {
    width: 35px;
    height: 60px;
    background-color: white;
    /*margin: auto;*/
    margin: 5px;
    border-radius: 15%;
    color: black;
    padding: 4px 0 0 0;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    border: 1px solid black;
}

.red {
    color: red;
}
#leave-bank-btn {
    display:block;
    width: 150px;
    margin:auto;
    margin-top: 5px;
}
#bank {
    border: 3px solid white;
    width: 100%;
    max-width: 500px;
    height: 250px;
    background: linear-gradient(90deg, rgb(30, 0, 139), rgb(35, 145, 182));
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5px;
    padding-right: 5px;
    opacity: 95%;
}