body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el, #dealer-playing {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#betscash *{
    display: inline-block;
}

#bet {
    margin-right: 30px;
    text-align: center;
}
.cards-box {
    position: absolute;
    top: -400px;
}

.card {
    width: 35px;
    height: 60px;
    background-color: white;
    /*margin: auto;*/
    margin: 5px;
    border-radius: 15%;
    color: black;
    padding: 4px 0 0 0;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    border: 1px solid black;
}

.red {
    color: red;
}

.winnerCards {
    background-color: lightgreen;
}
.loserCards {
    background-color: lightcoral;
}